<style>
body{}
h1 {
  font-size: 30px;
  color: black;
}

p2 {
  color: red;
}

h2 {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 20px;
  color: black;
}

</style>
